.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 16px;
}

.header > div {
  margin: 0 6px;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left > .MuiSvgIcon-root {
  margin-right: 20px;
}

.header__left > img {
  width: 90px;
}

.header__middle {
  display: flex;
  align-items: center;
  max-width: 728px;
  width: 100%;
}

.header__middle > .search {
  border: 1px solid var(--general-border);
  display: flex;
  align-items: center;
  flex-grow: 1;
  border-radius: 3px;
}

.header__middle > .search > input {
  border: none;
  outline: none;
  width: 100%;
  padding: 2px 6px;
  font-size: 16px;
}

.header__middle button {
  padding: 2px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__middle button > .MuiSvgIcon-root {
  color: rgb(92, 92, 92);
}

.header__middle > .search button {
  border-left: 1px solid var(--general-border);
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__middle > .search button .MuiSvgIcon-root {
  width: 20px;
}

.header__middle > .search > button:hover {
  background: var(--general-icon-hover-color);
}

.header .search > button:hover {
  background: var(--general-icon-hover-color);
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right > button {
  padding: 0 15px;
  display: flex;
  align-items: center;
}
